/* Styles pour la barre de navigation */
.navbar {
    background-color: #007BFF; /* Couleur de fond de la barre de navigation */
}

.navbar-brand {
    color: #fff; /* Couleur du texte du lien de la marque */
    font-weight: bold; /* Police en gras pour la marque */
}

.navbar-nav .nav-link {
    color: #fff; /* Couleur du texte des liens de navigation */
    margin-right: 15px; /* Marge à droite entre les liens de navigation */
    font-weight: normal; /* Police normale pour les liens de navigation */
}

    .navbar-nav .nav-link:hover {
        color: #fff; /* Couleur du texte au survol des liens de navigation */
    }

/* Styles pour le menu déroulant */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Affiche le menu déroulant au survol */
}

.dropdown-item {
    color: #333; /* Couleur du texte des éléments de menu déroulant */
}

    .dropdown-item:hover {
        background-color: #f8f9fa; /* Couleur de fond au survol des éléments de menu déroulant */
    }

/* Styles pour le lien actif */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold; /* Police en gras pour le lien actif */
}

/* Styles pour le footer identique à la navbar */
footer {
    background-color: #007BFF; /* Couleur de fond du footer */
    color: white; /* Couleur du texte du footer */
    text-align: center; /* Alignement du texte au centre */
    padding: 20px 0; /* Espacement intérieur du footer */
    font-weight: bold; /* Police en gras pour le footer */
}
