.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.carousel-image {
    width: auto;
    height: 100%;
    max-height: 500px; /* Limitez la hauteur maximale des images pour éviter les débordements */
}

/
.carousel {
    max-width: 800px; /* Limitez la largeur maximale du carrousel pour un meilleur affichage */
    margin: 0 auto; /* Centrez le carrousel horizontalement */
}

/* Assurez-vous que les flèches de navigation du carrousel sont visibles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Ajoutez un fond semi-transparent aux flèches */
    border-radius: 50%; /* Arrondissez les bords des flèches */
    width: 30px; /* Ajustez la largeur des flèches */
    height: 30px; /* Ajustez la hauteur des flèches */
    color: #fff; /* Couleur de l'icône de la flèche */
}

    /* Changez la couleur des flèches de navigation au survol */
    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: rgba(0, 0, 0, 0.7); /* Fondu au survol */
    }

/* Masquez les indicateurs (points) de pagination du carrousel */
.carousel-indicators {
    display: none;
}

.navbar {
    background-color: #007BFF; 
}

.navbar-brand {
    color: #fff; 
    font-weight: bold; 
}

.navbar-nav .nav-link {
    color: #fff; 
    margin-right: 15px; 
    font-weight: normal; 
}

.navbar-nav .nav-link:hover {
        color: #fff;
    }

/* Styles pour le menu déroulant */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Affiche le menu déroulant au survol */
}

.dropdown-item {
    color: #333; /* Couleur du texte des éléments de menu déroulant */
}

.dropdown-item:hover {
        background-color: #f8f9fa; 
    }

/* Styles pour le lien actif */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold; 
}


footer {
    background-color: #007BFF; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0; 
    font-weight: bold; 
}