@model TirelireProject.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductHeight" class="control-label"></label>
                <input asp-for="ProductHeight" class="form-control" />
                <span asp-validation-for="ProductHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductWidth" class="control-label"></label>
                <input asp-for="ProductWidth" class="form-control" />
                <span asp-validation-for="ProductWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductWeight" class="control-label"></label>
                <input asp-for="ProductWeight" class="form-control" />
                <span asp-validation-for="ProductWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLength" class="control-label"></label>
                <input asp-for="ProductLength" class="form-control" />
                <span asp-validation-for="ProductLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductColor" class="control-label"></label>
                <input asp-for="ProductColor" class="form-control" />
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCapacity" class="control-label"></label>
                <input asp-for="ProductCapacity" class="form-control" />
                <span asp-validation-for="ProductCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductMaker" class="control-label"></label>
                <input asp-for="ProductMaker" class="form-control" />
                <span asp-validation-for="ProductMaker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
