@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to my piggy project
    </a>.</p>

</div>

@if (User.IsInRole("Client"))
{
    <a href="@Url.Action("ClientPage", "Home")">Accéder à la page Client</a>
}
else if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("AdminPage", "Home")">Accéder à la page Admin</a>
}
else if (User.IsInRole("Mod"))
{
    <a href="@Url.Action("ModPage", "Home")">Accéder à la page Mod</a>
}
else if (User.IsInRole("Assist"))
{
    <a href="@Url.Action("AssistPage", "Home")">Accéder à la page Assist</a>
}
