<!DOCTYPE html>
<html>
<head>
   
    <title>@ViewData["Title"]</title>
</head>
<body>
    <!-- Mettez ici le contenu commun à toutes les pages -->

    <div class="container">
        @RenderBody()
    </div>

    <!-- Mettez ici vos scripts JavaScript, etc. -->
</body>
</html>